:root {
  --nav-height: 9vh;
  --nav-overlay-width: 40%;
  --primary-color: #9FC164;
  --secondary-color: #6B93D6;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
a{
  text-decoration: none;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h1{
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: rgb(165, 165, 165);
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #5cb874;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title-secondary {
  text-align: center;
  padding-bottom: 30px;
}
.section-title-secondary h1{
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title-secondary h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: rgb(54, 54, 54);
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title-secondary h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--secondary-color);
  bottom: 0;
  left: calc(50% - 20px);
}
p{
  font-family: "Rubik", sans-serif;
}

body{
  background-color: #f0f4fb;
}

.btn-secondary{
  background-color: var(--secondary-color);
}
.btn-secondary:hover{
  background-color: var(--primary-color);
}

/* Navbar */

nav {
  position:fixed;
  z-index: 100;
  height: var(--nav-height);
  width: 100vw;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.5);
}

.brand img {
  position: relative;
  left: 0;
  height: 8vh;
  width: 11.5vw;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

.menu a:hover {
  color: #5cb881;
}

.hamburger {
  display: none;
}

/* Home */
#home {
  padding-top: 9vh;
}
#ci-1 {
  background-image: linear-gradient(
      rgb(52, 101, 70, 0.7),
      rgb(52, 101, 70, 0.7)
    ),
    url("../content/slide/slide-1.jpg");
}
#ci-2 {
  background-image: linear-gradient(
      rgb(52, 101, 70, 0.7),
      rgb(52, 101, 70, 0.7)
    ),
    url("../content/slide/slide-4.jpg");
}
#ci-3 {
  background-image: linear-gradient(
      rgb(52, 101, 70, 0.7),
      rgb(52, 101, 70, 0.7)
    ),
    url("../content/slide/slide-2.jpg");
}
.carousel-item {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 91vh;
}
.carousel-img{
  height: 100%;
  width: 100%;
}
.carousel-container{
  height: 100%;
  padding: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* About */
#about{
  padding: 2%;
  text-align: center;
}
#about h1{
  margin-bottom: 50px
}
.about-text-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-text{
  text-align: left;
  font-size: 20px;
}
.about-motto{
  font-weight: 600;
  color: #12a712;
}
.about-img1{
  width: 250px;
  height: 333px;
}
.about-img2{
  width: 372px;
  height: 279px;
}
.about-imgs{
  margin: 10px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
.owl{
  display: none;
}
.owl-carousel .owl-stage{
  overflow: visible;
  display: flex;
  align-items: center;
}
.owl-next, .owl-prev{
  background-color: var(--secondary-color) !important;
}
.owl-next:hover,.owl-prev:hover{
  background-color: var(--primary-color) !important;
}
.acheivements{
  margin: 5%;
  color: #12a712;
}
.acheivements h2{
  font-size: 3rem;
  font-weight: bold;
}

/* WORK  HOME PAGE*/

#work{
  height: 91vh;
  padding: 10% inherit;
  text-align: center;
  background-color: #aecc81;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.work-heading{
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight:  bold;
}
.work-info{
  color: #545454;
}
.button--link{
  letter-spacing: 1px;
  font-family: lato,Geneva,Tahoma,sans-serif;
  color: #233f96;
  align-self:flex-start;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 20px;
}
.work-img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
}

/* WORK NEW PAGE */

.hello-1{
  padding-right: 0;
  margin-right: 0;
}
/* hr{
  all:unset;
}
hr {

  border-style: none;
  border-top-style: dotted;
  border-color: #6c94d4;
  border-width: 5px;
  width: 5%;
  height: 15px;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0
} */

.image-box{
  display: inline-block;
}

.image-inner-box{
  text-align: center;
}
.title-div-2021{
  padding-top: 40px;
  margin-bottom: 0;
  background-color: #f0f4fb;
}
.title-2021{
  padding-top: 500px;
  font-weight: bolder;
  text-align: center;
  color: white;
  background-color: #aecc81;
  font-family: "Open Sans", sans-serif;
  padding: 50px ;
  padding-bottom: 30px;

  font-size: 3.5rem;
  margin-bottom: 0;
}
.work-sec-new{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-web-page-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

}
.work-info-new{
  width: 65%;
  margin: 30px auto 15px 126px;
  text-align: left;
  color: #545454;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  font-size: 17px;
  margin-left: 12px;
}

/* Footer */
#rollUp {
  display: none;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  margin: 15px;
}
#rollUp.scroll {
  display: flex;
}
#rollUp.btn {
  background-color: #9FC164;
  height: 6vh;
  width: 6vh;
  justify-content: center;
  align-items: center;
}
.fa-chevron-up{
  font-size: 15px;
}

/* Media */

@media only screen and (max-width: 768px) {
  /* Navbar */
  body {
    overflow-x: hidden;
  }
  .brand img {
    width: 50vw;
  }
  .menu {
    color: white;
    position: absolute;
    right: 0;
    height: 91vh;
    top: var(--nav-height);
    width: var(--nav-overlay-width);
    background-color: rgb(107, 147, 214, 1);
    flex-direction: column;
    justify-content: left;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  .menu a{
      padding-top: 5vh;
  }
  .menu-active {
    transform: translateX(0%);
  }
  .hamburger {
    display: flex;
    align-items: center;
  }
  .fa-nav {
    position: absolute;
    display: none;
  }
  .fa-active {
    display: block;
    color: black;
  }

  /* About Us */
  .about-imgs{
    display: none;
  }
  .owl{
    display: block;
  }
  .about-img2{
    height: 180px;
    width: 240px;
  }

}

