/* Our Initiative Page*/
img{
  width:456px;
  height: 280px;
  margin: auto;
}

/* Year Title */
.title-pad{
  padding-right: 0;
  margin-right: 0;
}
.title-div-first{
  padding-top: 3vh;
}
.title-div{
  padding-right: 0;
}
.title-first{
  padding: 50px ;
}
.title-rest{
  padding: 14.579px;
}
.title-common{
  font-weight: bolder;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 2.2vh;
  font-size: 3.1rem;
  margin-bottom: 0;
}
.title-even{
  color: #f0f4fb;
  background-color: #aecc81;
}
.title-odd{
  color: #212529;
  background-color: #f0f4fb;
}

/* Content Section*/
.content-common{
  padding: 10% inherit;
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content-even{
  background-color:#aecc81;
}
.content-odd{
  background-color: #f0f4fb;
}

/* Event */
.event-div{
  padding-top: 6vh;
  padding-bottom: 6vh;
}
.event-title{
  color: #545454;
  font-weight: bold;
  text-align: left;
  font-size: 19px;
  margin-bottom: 0;
}
.event-info{
  color: #545454;
  text-align: left;
  font-size: 16px;
  margin-bottom: 4px;
}
.button--link{
  letter-spacing: 1px;
  font-family: lato,Geneva,Tahoma,sans-serif;
  color: #233f96;
  align-self:flex-start;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 0;
} 

/* Carousel */
.carousel-inner{
  height: 280px;
}
.d-block{
  border-radius: 10px;
}
.carousel-control-prev-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/467/467274.png);
}
.carousel-control-next-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/467/467282.png);
}

/* Footer */
#rollUp {
  display: none;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  margin: 15px;
}
#rollUp.scroll {
  display: flex;
}
#rollUp.btn {
  background-color: #6b93d6;
  height: 6vh;
  width: 6vh;
  justify-content: center;
  align-items: center;
}
.fa-chevron-up{
  font-size: 15px;
}

/* Media Query for Desktop Web*/
@media (min-width: 767px) {
  .carousel-work{
    align-items: center;
    justify-content: center;
    width: 750px;
  }

}

/* Media Query for Mobile Web */
@media (max-width:500px ){
  img{
    width: 300px;
    height: 183px;
  }
  .carousel-inner{
    height: 183px;
  }
  .carousel-work{
    width: 330px;
  }
}