/* WORK NEW PAGE */

#work-new{
  padding: 10% inherit;
  padding-top: 10px;
  text-align: center;
  background-color: #f0f4fb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title-pad{
  padding-right: 0;
  margin-right: 0;
}
.title-div{
  padding-top: 3vh;
  margin-bottom: 0;
  background-color: #f0f4fb;
}
.title-2021{
  font-weight: bolder;
  text-align: center;
  color: white;
  background-color: #aecc81;
  font-family: "Open Sans", sans-serif;
  padding: 50px ;
  padding-bottom: 2.2vh;
  font-size: 3.5rem;
  margin-bottom: 0;
}
.title-year{
  font-weight: bolder;
  text-align: center;
  color: white;
  background-color: #aecc81;
  font-family: "Open Sans", sans-serif;
  padding: 50px ;
  padding-top: 2.2vh;
  padding-bottom: 2.2vh;
  font-size: 3.5rem;
  margin-bottom: 0;
}
.workpage-info{
  color: #545454;
  text-align: left;
  font-size: 16px;
}

/* Carousel */
.carousel-inner{
  height: 350px;
  border-radius: 10px;
}
.carousel-work{
  text-align: center;
}
.d-block{
  border-radius: 10px;
}

.carousel-control-prev-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/467/467274.png);
}
.carousel-control-next-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/467/467282.png);
}
